/* Reset default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.navbar {
    position: fixed;
    z-index: 1000;
}

#intro {
    height: 500px;
    width: 100%;
    background-image: url('./bc\ portfolio.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-size: cover; */
}
.intro-content {
    height: auto;
    width: 80%;
    margin: auto;
    text-align: center;
    color: #f4f4f4;
    font-weight: bolder;
}

.btn-about {
    color: #f4f4f4;
    border: 2px solid white;
    background: transparent;
    padding: 5px;
}
.btn-about:hover{
    border: 2px solid rgb(199, 9, 9);
    cursor: pointer;
}